fastapi
uvicorn
python-multipart
torch==2.3.1
torchaudio==2.3.1
numpy<2.0.0
scipy
soundfile
librosa
transformers
accelerate
diffusers
cached_path
wandb
git+https://github.com/openai/whisper.git
git+https://github.com/SWivid/F5-TTS.git